.container {
    display: flex;
    align-items: stretch; /* Match the height of columns */
  }
  
  .left-column {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center items vertically */
    align-items: center; /* Center items horizontally */
    text-align: center; /* Center text horizontally */
    background-color: green;
  }
  
  
  .right-column {
    flex-basis: 50%;
  }
  
  h2 {
    margin-bottom: 10px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #ccc;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  img {
    display: block;
    width: 100%;
    height: auto;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  
  
  .img-circle {
    clip-path: circle(140% at 130% 50%);
  }
  .img-circle {
      clip-path: circle(140% at 120% 50%);
      height: 100%;
      object-fit: cover;
      object-position: center center;
      width: 100%;
  }
  